.heroSection {
  display: flex;
  background: url(../images/hero-section-bg.svg) no-repeat center;
  height: 100vh;
  color: whitesmoke;
  min-height: 500px;
}

.heroSection .container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroSection .homeContent {
  text-align: end;
}
.homeContent {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
