.heroSection {
  display: flex;
  background: url(../images/hero-section-bg.svg) no-repeat center;
  height: 100vh;
  color: whitesmoke;
  min-height: 500px;
}

.heroSection .container {
  margin: auto 40px auto 0px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroSection .homeContent {
  text-align: end;
}

.text1 {
  font-size: 1.1rem;
}
.text2 {
  font-size: 4.8rem;
  font-weight: 500;
}
.text3 {
  font-size: 1.7rem;
}
.text3 span {
  color: #0077b6;
}

.heroSectionImage {
  height: 329px;
  width: 600px;
}
