.headerDiv {
  width: 100%;
  z-index: 900;
  position: fixed;
  padding: 0.4rem 0rem;
  background: transparent;
  transition: ease-in-out 0.3s;
  top: 0px;
  background: #0a0908;
}
.headerDiv.scrolled {
  transition: ease-in-out 0.3s;
  /* background-color: #e63946; */
  background-color: #0a0908;
  padding: 0.7rem 0;
}
.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: auto;
}
.headerDiv .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerDiv .headerMenu li {
  color: white;
  list-style-type: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 3rem;
}

.headerDiv .headerMenu li:hover {
  transition: ease-in-out 0.3s;
  color: #0077b6;
  cursor: pointer;
}
.remove {
  display: none;
}
