.headerDiv {
  /* background-color: #e63946; */
  width: 100%;
  position: fixed;
  padding: 1rem 0;
}
.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: auto;
}
.headerDiv .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerDiv .headerMenu li {
  color: white;
  list-style-type: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 3rem;
}

.headerDiv .headerMenu li:hover {
  transition: ease-in-out 0.3s;
  color: #0077b6;
  cursor: pointer;
}
