.aboutSection .title {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-bottom: 28px;
}
.aboutSection .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 240px;
  height: 2px;
  background: #111;
  transform: translateX(-50%);
  border-radius: 10px;
}
.aboutSection .title::after {
  content: " من کی هستم؟";
  bottom: -14px;
  position: absolute;
  left: 50%;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 16px;
  background: #fff;
  color: #0077b6;
  transform: translateX(-50%);
}
.aboutSection {
  padding: 3rem 0;
}
.aboutSection .aboutContent .pictureColumn {
  width: 45%;
}
.aboutSection .aboutContent .textColumn {
  width: 55%;
  direction: rtl;
}
.aboutSection .aboutContent .pictureColumn img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
section.aboutSection {
  padding: 1rem 0;
  margin: 2rem 0;
}

.aboutSection .aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutMeText {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.aboutParagraph {
  text-align: justify;
}
