.contactMeSection .title {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 28px;
}
.contactMeSection .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 260px;
  height: 2px;
  background: #0a0908;
  transform: translateX(-50%);
  border-radius: 10px;
}
.contactMeSection .title::after {
  content: " راه های تماس با من";
  bottom: -14px;
  position: absolute;
  left: 50%;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 16px;
  background: #fff;
  color: #0077b6;
  transform: translateX(-50%);
}
.contactMeSection {
  padding: 3rem 0;
}

.contactMeSection .contactMeContent {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
}
.contactMeSection .contactMeContent .rightColumn {
  width: calc(50% - 30px);
}
.contactMeSection .contactMeContent .text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
p.infoText {
  font-size: 1.05rem;
  font-weight: 500;
  text-align: justify;
}

.contactMeSection .contactMeContent .row {
  display: flex;
  height: 5rem;
  align-items: center;
}
.contactMeSection .contactMeContent .row {
  font-size: 1.2rem;
  color: #0077b6;
}
.contactMeSection .contactMeContent .info {
  margin-right: 1.2rem;
  color: #0a0908;
}
.contactMeSection .contactMeContent .info .head {
  font-weight: 500;
}
.contactMeSection .contactMeContent .info .subTitle {
  font-weight: 400;
  color: #333;
  font-size: 1rem;
}

.contactMeSection .contactMeContent .leftColumn {
  width: calc(50% - 30px);
}

.contactMeSection .leftColumn form .fields {
  display: flex;
}
.contactMeSection .leftColumn form .field,
.contactMeSection .leftColumn form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contactMeSection .leftColumn form .name {
  margin-left: 5px;
}
.contactMeSection .leftColumn form .email {
  margin-right: 5px;
}
.contactMeSection .leftColumn form .field input,
.contactMeSection .leftColumn .textArea textarea {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid lightslategray;
  outline: none;
  padding: 0 1rem;
}
.contactMeSection .leftColumn form .textArea {
  height: 80px;
  width: 100%;
}
.contactMeSection .leftColumn form .textArea textarea {
  padding-top: 10px;
  resize: none;
}
.contactMeSection .leftColumn form .button {
  height: 48px;
  width: 170px;
}
.contactMeSection .leftColumn form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #0077b6;
  background-color: #0077b6;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  transition: all ease-in-out 0.3s;
}
.contactMeSection .leftColumn form .button button:hover {
  transition: all ease-in-out 0.3s;
  color: #0077b6;
  background-color: #fff;
  cursor: pointer;
}
